// @import "../fragment/yo-header";
// @include yo-header(
//   $name: a,
//   $bgcolor: #fff,
//   $item-ico-color: #3e3a39,
//   $border-width: 0,
//   $color: #ff4a4a,
//   $font-size: .23rem
// ){
//   .regret{
//     left: 0;
//     line-height: .5rem
//   }
//   .affirm{
//     right: 0;
//     line-height: .5rem
//   }
// }
.m-index{
    width: 100%;
    height:100%;
    @include flexbox();
    @include flex-direction(column);
    section{
        @include flex(1);
        @include flexbox();
        background:#eee;
        width: 100%;
        overflow: hidden;
        .outer{
          @include flex(1);
          // height: 100%;
          overflow: hidden;
          @include flexbox();
          width: 100%;
          @include flex-direction(column);
          .head{
            height: 0.44rem;
            width: 100%;
            // @include flexbox();

          }
        .indexOut{
          @include flex(1);
          width: 100%;
          // height: 500px;
          overflow: hidden;
          overflow-y: auto;
        .mint-swipe{
          height: 1.9rem;
          img{
            width: 100%;
            height: 100%;
          }
          .mint-swipe-indicators{
            width: 2rem;
            .mint-swipe-indicator{
              width: .3rem;
              height: .01rem;
              border-radius: 0;
              background: #fff;
              opacity: 0.8;
            }
            .is-active{
              background: #ff4a4a;
            }
          }
        }
        .home_nav{
          @include flexbox();
          height: .95rem;
          background: #fff;
          margin:.1rem 0;
          li{
            @include flexbox();
            @include flex(1);
            a{
              width: 100%;
              @include flexbox();
              @include flex-direction(column);
              @include justify-content(center);
              @include align-items(center);
              padding-top:0.15rem;
              img{
                width: .4rem;
                height: .4rem;
              }
              span{
                color:#3e3a39;
                font-size: 0.13rem;
                line-height: 0.47rem;
              }
            }
          }
        }
      }
      .global_goods{
        background: #fff;
        width: 100%;
        height: 7.05rem;
        .global_top{
          width: 100%;
          height: .35rem;
          padding:0.075rem;
          h2{
            // width: 1.125rem;
            width: 30%;
            height: .2rem;
            float: left;
            border-right: 1px solid #dcdddd;
            i{
              display: inline-block;
              float: left;
              width: 27%;
              height: .2rem;
              background: url('http://cms.91xsj.com/mImg/2016/05/30/fa8327f1c10e479881c7202a9539df50.png') no-repeat;
              background-size:  100% 100%;
            }
            span{
              display: inline-block;
              float: left;
              height: .2rem;
              width: 73%;
              text-align: center;
              font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
              font-size: .16rem;
              font-weight: 100;
            }
          }
          .gr{
            padding-left: 0.1rem;
            float: left;
            overflow: hidden;
            width: 58%;
            .alarm{
              height: .2rem;
              width: 10%;
              float: left;
              background: url('http://cms.91xsj.com/mImg/2016/07/26/b95999464afa4b0d93209a4e0f0aacff.png') no-repeat;
              background-size: 100% 100%;
            }
            .move{
              height: .2rem;
              width: 90%;
              float: left;
              overflow: hidden;
              position: relative;
              ul{
                position: absolute;
                left: 0;
                top: 0;
                li{
                  height: .2rem;
                  line-height: .2rem;
                  font-size: .16rem;
                  color: #727171;
                  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
                }
              }
            }

          }
          .more{
            // width: .35rem;
            width: 12%;
            float: left;
            position: relative;
          }
          .more:after{
            content: "";
            position: absolute;
            top: 0.04rem;
            left:0.3rem;
            right: 0.1rem;
            width: 0.1rem;
            height: 0.1rem;
            border: 1px solid #727171;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-135deg);
            display: block;
          }
        }

        .rowswipe{
          width: 100%;
          height: 1.1rem;
          overflow: hidden;;
          overflow-x: auto;
          ul{
            height: 100%;
            width:8.3rem;
            overflow: hidden;
            overflow-x: auto;
            li{
              width: .83rem;
              height: 100%;
              float: left;
              @include flexbox();
              @include flex-direction(column);
              @include justify-content(center);
              @include align-items(center);
              img{
                width: .6rem;
                height: .6rem;
              }
              b{
                font-weight: 100;
              }
            }
          }
        }
        .img{
          width:100%;
          height: 5.6rem;
          li{
            height: 1.8rem;
            margin-bottom: 0.1rem;
            img{
              width:100%;
              height: 100%;
            }
          }
        }
      }
      .indexdata{
        width: 100%;

        a{
          display: block;
          height: 1.68rem;
          width: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .indexlist{
          width:100%;
          background: #fff;
          overflow: hidden;
          overflow-x: auto;
          margin-bottom: .1rem;
          ul{
            width: 9.63rem;
            height: 1.41rem;
            li{
              float: left;
              width: 1.07rem;
              height: 100%;
              padding:0 0.1rem;
              img{
                width:.87rem;
                height: .87rem;
              }
              h4{
                @include ellipsis($width:.87rem,$line-clamp:2 );
                font-size: 0.12rem;
                color:#3e3a39;
              }
              h6{
                width: .87rem;
                font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
                span{
                  font-size: .08rem;
                  color:#ff4646;
                }
                i{
                  font-size: .08rem;
                  text-decoration:line-through;
                }
              }

            }
            .showmore{
              background: #fafafa;
              @include flexbox();
              @include flex-direction(column);
              @include justify-content(center);
              @include align-items(center);
              h3{
                color:#3e3a39;
              }
              h5{
                color:#ff4646;
              }
            }

          }
        }
      }
      .more-exciting{
        width: 100%;
        h2{
          width: 100%;
          height: .4rem;
          margin-bottom: .1rem;
          text-align: center;
          line-height: .4rem;
          background: #fff;
        }
        ul{
          width: 100%;
          @include flexbox();
          @include flex-wrap(wrap);
          @include align-content(center);
          li{
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            border: 0.025rem solid #f0f0f0;
            width:50%;
            float: left;
            background: #fff;
            padding: 0.1rem;
            img{
              width:1.61rem;
              height: 1.61rem;
            }
            h4{
              @include ellipsis($line-clamp:2 );
              font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
              font-size: 0.14rem;
              color:#3e3a39;
            }
            h6{
              @include flexbox();
              @include justify-content(flex-start);
              width:100%;
              line-height: .16rem;
              font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
              span{
                font-size: .16rem;
                color:#ff4646;
              }
              i{
                font-size: .12rem;
                color:#b5b5b6;
                text-decoration:line-through;
              }
            }
          }
        }
      }
    }
  }
    nav{
        height:0.49rem;
        background:#fff;
        ul{
          @include flexbox();
          width: 100%;
          height: 100%;
          li{
            @include flex();

            span{
              @include flexbox();
              @include flex-direction(column);
              @include justify-content(center);
              @include align-items(center);
              color:#898989;
              font-size:.21rem;
              b{
                font-size:.12rem;
                line-height: 0.15rem;
                font-weight: 100
              }

            }
            &.active span{
              color:#ff4a4a
            }
          }
        }
    }
}
